<!doctype html>
<html>
  <head>
    <title>This Is About Me</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <h1>This is about me!</h1>
    <p>I'm currently in the midst of the Nashville Software School's 6-month, total immersive Full-Time Web Developer Bootcamp, having finished The Front End Development Foundations class at the end of June, where I was introduced to, and continue to spend hours studying and implementing the standard technologies for anything that runs in a browser: HTML5, CSS3 and JavaScript.</p>
    <img src="idiots.jpg">
  </body>
</html>
