<!DOCTYPE html>
<html>
<head>
  <title><%= title%> | Contact</title>
</head>
  <body>
    <h1>Have a question? Contact me here!</h1>
    <form action='/contact/send' method="POST">
    Name:<br>
    <input type="text" name="name" placeholder="What's your name?"><br>
    E-mail:<br>
    <input type="text" name="mail" placeholder="What's your email?"><br>
    Subject:<br>
    <input type="text" name="subject" placeholder="What's this about?" size="50"><br>
    Comment:<br>
    <input type="text" name="comment" placeholder="What do you have for me?" size="50"><br><br>
    <input type="submit" value="Send">
    </form>
  </body>
</html>

